# Camera#position フィールドを public に昇格（SRG名）
public net.minecraft.client.Camera f_90570_ # position
# Camera#setup を public に昇格（SRG名）
public net.minecraft.client.Camera m_90582_(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/world/entity/Entity;ZZF)V # setup
